
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open Sans',sans-serif;

}



body{
    
    background-image: url(https://images.unsplash.com/photo-1628841220750-52e52714bb11?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzU1fHx0ZWNobm9sb2d5fGVufDB8fDB8fHww);
     

    /* background-image: url(https://images.unsplash.com/photo-1667366799331-3a2b515c6c4a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRhcmslMjB0ZWNoJTIwY29kaW5nJTIwbGFwdG9wJTIwYmxhY2slMjBwZXJzb24lMjByZWQlMjBjb2xvcmluZ3xlbnwwfHwwfHx8MA%3D%3D); */

    background-position: center;
    background-size:cover;
}


header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    
    height: 60px;
    max-width:  100%;
    margin: 0 auto;
    height: 100px;
    border-bottom: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 

.navbar .logo{
    color: white;
    font-size: 1.5rem;
    font-weight:bold;
}


.navbar .links{ 
    display: flex; 
    gap: 2rem;
    list-style-type:none;
    
}

.navbar .toggle_btn{
    color: white;
    display: none;
}

.navbar .links a{
    color: white;
    text-decoration: none;
    

}

.navbar .links a:hover{
    color: green;
}

.dropdown_menu{
    display: none;
     position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    background-color: rgb(255,255 ,255,0.1);
     border-radius: 10px;
     backdrop-filter: blur(15px);
     width: 300px;
     overflow: hidden; 
}

 .dropdown_menu.open{
 height: 240px;
 }

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    list-style-type:none;

   
}

.dropdown_menu li a{
      text-decoration:none;

}

@media(max-width:992px) {
    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
    
}


/* Main page */
.intro{
    color:white;
    font-size: 2rem;
    display: flex;
    height: calc(100vh );
    text-align: center;
    flex-direction: column;
    align-items: center;
    display:flex;
    justify-content: center;
    
}
.intro .GetInTouch{
    background-color: red;
    border-style: hidden;
    width: 100px;
    padding: .3rem;
    border-radius: 10px;


}

footer{
    border-top: 1px solid red;
    display: flex;
    width: 100%;
    height:60px;
    justify-content: center;
    color: white;  
    align-items: center;
}






/* styling for the contacts page */
